div.circle {
  width:  80%;
  height: 80%;
  border: solid thick #d0d0ff;
  border-radius: 50%;
  position: absolute;
}

div.circle.layer-0 {
  animation: wave-0 2s infinite;
}
div.circle.layer-1 {
  animation: wave-1 2s infinite;
}
div.circle.layer-2 {
  animation: wave-2 2s infinite;
}
div.circle.layer-3 {
  animation: wave-3 2s infinite;
}

@keyframes wave-0 {
  from {
    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset #d0d0ff;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}

@keyframes wave-1 {
  from {
    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset #d0d0ff;
  }
  to {
    width:   90%;
    height:  90%;
    opacity:   0;
  }
}

@keyframes wave-2 {
  from {
    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset #d0d0ff;
  }
  to {
    width:   75%;
    height:  75%;
    opacity:   0;
  }
}

@keyframes wave-3 {
  from {
    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset #d0d0ff;
  }
  to {
    width:   50%;
    height:  50%;
    opacity:   0;
  }
}