div.circle {
  width:  80%;
  height: 80%;
  border: solid thin #303030;
  border-radius: 50%;
  animation: wave 2s infinite;
  position: absolute;
}

div.circle.layer-0 {
  animation-delay: 0s;
}
div.circle.layer-1 {
  animation-delay: 0.2s;
}
div.circle.layer-2 {
  animation-delay: 0.4s;
}
div.circle.layer-3 {
  animation-delay: 0.6s;
}

@keyframes wave {
  from {
    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset #3f3f3f;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}